#heading1{
    text-align: center;
}
#heading2{
    color: crimson;
}
#heading3{
    color: crimson;
}
#heading4{
    color: crimson;
}
#mydiv1{padding: 5px;

}

#mydiv2{
    padding: 5px;

}
#mydiv3{
    padding: 5px;

}
