form{
    background-color: white;
    width: 70%;
    padding: 40px;
    margin : 0 auto;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;

}
h1{
    text-align: center;
}
input[type=text],input[type=email],input[type=password]{
    width: 90%;
    height: 55px;
    border-radius: 5px;
    margin-top: auto;
}
button{
    width: 85%;
    background: lightskyblue;
    color: white;
    height: 40px;

}
.maindiv{display: flex;
    margin: auto;
}
#mydiv2{
    background-image: url("gallery/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    color: white;
    font-size: 55px;
    text-align: center;
}
#mydiv1{
    background-color: white;

}